input[type=text], select {
    width: 15%;
    padding: 5px 10px;
    margin-inline: auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 15%;
    padding: 5px 10px;
    margin-inline: auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type=button] {
    width: 15%;
    margin-top: 5px;
    margin-inline: auto;
    padding: 5px 10px;
    border: none;
    display: block;
    border-radius: 4px;
    cursor: pointer;
}
 /* Region Different button colors */
button[class=add] {
    background-color:  #4CAF50;
    color: white;
}

button[class=login] {
    background-color: #4CAF50;
    color: white;
}

button[class=load] {
    background-color: rgb(61, 209, 165);
    color: white;
}

button[class=reset] {
    background-color: red;
    color: white;
}
/* EndRegion */
.textBox {
    background: ghostwhite; 
    margin-top: 15px;
    margin-inline: auto;
    border-radius: 10px;
    font-size: 20px; 
    padding: 3px;
    border: 4px solid lightgray; 
    width: 14.5%;
    vertical-align: middle;
    text-align: center;
    min-height: 25px;
}

.login {
    margin-inline: auto;
    text-align: center;
}