input[type=text], select {
    width: 10%;
    padding: 5px 10px;
    margin: 6px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[class=request], select {
    width: 30%;
    margin: auto;
}

button[type=button] {
    width: 30%;
    margin-top: 5px;
    margin-inline: auto;
    padding: 5px 10px;
    border: none;
    display: block;
    border-radius: 4px;
    cursor: pointer;
}

button[class=add] {
    background-color:  #4CAF50;
    color: white;
}

button[class=refresh] {
    width: 40%;
    background-color: rgb(61, 209, 165);
    color: white;
}

.listBox {
    background: ghostwhite;
    margin-top: 15px;
    margin-inline: auto;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
    border: 4px solid lightgray;
    width: 40%;
    text-align: center;
    min-height: 150px;
    max-height: 150px;
    overflow: scroll;
    display: block;
}

ul {
    display: flex;
    margin: 5px;
    padding: 5px;
    align-items: center;
  }
  
ul>button {
    margin-left: 5px;
    padding: 5px;
    cursor: pointer;
}